<!DOCTYPE html>
<html>
<head>
    <title>Product Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">

    <script src="{{url_for('static' ,filename = 'js/main.js')}}"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Left column for adding products -->
            <div class="col-md-4">
                <h3>Add a Product</h3>
                <form method="POST" action="/dashboard/add_product" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="price" name="price" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" rows="4" name="description" required>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="file" class="form-control" id="price" name="image" step="0.01" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>

            <!-- Right column for displaying products -->
            <div class="col-md-8">
                <h3>Product List</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>${{ product.price }}</td>
                            <td>{{ product.description }}</td>
                            <td><a class="btn" href="/dashboard/delete/{{product.id}}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
